# Include the README
include *.md
include *.txt

# include code
include handwritten_number_generator/*

include scripts/*
include docker/*

# Include the data files
include handwritten_number_generator/data/compressed/*
include handwritten_number_generator/config/config.yml